 /* #center {
       margin: 30%  30%;
       font-family: sans-serif;
       } */
       .stopwatch {
        border:1px solid #00ff00;
        background-color:goldenrod;
        text-align: center;
        width:656px;
        height: 230px;
        overflow: hidden;
    }
    .stopwatch span{
        display: block;
        font-size: 100px;
    }
    .stopwatch p{
        display: inline-block;
        font-size: 40px;
    }
    .stopwatch a{
      font-size:45px;
    }
    a:link,
    a:visited{
        color:#00ff00;
        text-decoration: none;
        padding: 12px 14px;
        border: 1px solid #00ff00;
    }
    .timer.innerHTML{
      color:#00ff00;
    }